In [2]:
import pandas as pd
df = pd.read_csv('DataSetSunlife.csv')
df.head()

,INDEX,ID,AGE,INCOME,DRUG USER,REQUIRES ASSISTANCE WITH DAILY TASKS,LIVES IN LONG TERM CARE HOME,BED RIDDEN OR WHEELCHAIR BOUND,ORGAN OR BONE MARROW TRANSPLANT,ADDMITED TO HOSPITAL IN THE LAST 60 DAYS,OBESITY,DIABETES,HEART DISEASE,MENTAL HEALTH ISSUES,CANCER,HAVE YOU BEEN CONVICTED OF A CRIME
0,1,8029,82,54711,0,0,0,0,0,0,0,0,0,0,0,0
1,2,3207,69,49466,0,0,0,0,0,0,1,0,0,0,1,0
2,3,6657,91,42604,0,0,0,0,0,0,0,0,1,0,0,0
3,4,6297,51,51438,1,0,0,0,0,0,0,0,0,1,0,0
4,5,1592,89,43945,0,0,0,0,0,0,0,0,0,0,0,0