In [3]:
import pandas as pd
df = pd.read_csv('DataSetSunlife.csv')
df.head()

,INDEX,ID,AGE,INCOME,DRUG USER,REQUIRES ASSISTANCE WITH DAILY TASKS,LIVES IN LONG TERM CARE HOME,BED RIDDEN OR WHEELCHAIR BOUND,ORGAN OR BONE MARROW TRANSPLANT,ADDMITED TO HOSPITAL IN THE LAST 60 DAYS,OBESITY,DIABETES,HEART DISEASE,MENTAL HEALTH ISSUES,CANCER,HAVE YOU BEEN CONVICTED OF A CRIME
0,1,8029,82,54711,0,0,0,0,0,0,0,0,0,0,0,0
1,2,3207,69,49466,0,0,0,0,0,0,1,0,0,0,1,0
2,3,6657,91,42604,0,0,0,0,0,0,0,0,1,0,0,0
3,4,6297,51,51438,1,0,0,0,0,0,0,0,0,1,0,0
4,5,1592,89,43945,0,0,0,0,0,0,0,0,0,0,0,0

In [4]:
df.describe()

,INDEX,ID,AGE,INCOME,DRUG USER,REQUIRES ASSISTANCE WITH DAILY TASKS,LIVES IN LONG TERM CARE HOME,BED RIDDEN OR WHEELCHAIR BOUND,ORGAN OR BONE MARROW TRANSPLANT,ADDMITED TO HOSPITAL IN THE LAST 60 DAYS,OBESITY,DIABETES,HEART DISEASE,MENTAL HEALTH ISSUES,CANCER,HAVE YOU BEEN CONVICTED OF A CRIME
count,500.000000,500.000000,500.000000,500.000000,500.00000,500.000000,500.000000,500.00000,500.000000,500.000000,500.000000,500.000000,500.000000,500.0000,500.000000,500.0000
mean,250.500000,5643.426000,69.532000,51415.878000,0.13000,0.450000,0.046000,0.02200,0.004000,0.050000,0.300000,0.110000,0.050000,0.1000,0.430000,0.1000
std,144.481833,2581.430362,9.522938,20177.572978,0.33664,0.497992,0.209695,0.14683,0.063182,0.218163,0.458717,0.313203,0.218163,0.3003,0.495572,0.3003
min,1.000000,1032.000000,41.000000,-2727.000000,0.00000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.0000
25%,125.750000,3433.500000,63.000000,38505.500000,0.00000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.0000
50%,250.500000,5771.500000,69.000000,51492.500000,0.00000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.0000
75%,375.250000,7838.750000,76.000000,64484.250000,0.00000,1.000000,0.000000,0.00000,0.000000,0.000000,1.000000,0.000000,0.000000,0.0000,1.000000,0.0000
max,500.000000,9989.000000,95.000000,116913.000000,1.00000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0000,1.000000,1.0000

In [6]:
df.shape

(500, 16)

In [7]:
firstage = df.iloc[0]["AGE"]

In [8]:
print(firstage)

82

In [9]:
ages = []
for i in range(df.iloc[-1]["ID"]):
    ages.append(df.iloc[i]["AGE"])

print(ages)

TypeError: Cannot index by location index with a non-integer key